revision.h
config.log
config.status
opal.pc
opal.spec
opal_cfg.dxy
lib*
html
include/opal_config.h
make/opal_config.mak
src/rtp/libsrtp/crypto/include/config.h
samples/openphone/version.wxs
plugins/config.log
plugins/config.status
plugins/plugin_config.h
plugins/plugin_config.mak
plugins/audio/G.722.1/libg722_1/g722_1.spec
plugins/audio/G.722.1/libg722_1/libtool
plugins/audio/G.722.1/libg722_1/src/.deps/
plugins/audio/G.722.1/libg722_1/src/config.h
plugins/audio/G.722.1/libg722_1/tests/.deps/
plugins/audio/G.722.1/libg722_1/g722_1.pc
plugins/audio/Opus/opus/Makefile
plugins/audio/Opus/opus/config.log
plugins/audio/Opus/opus/config.status
plugins/audio/Opus/opus/stamp-h1
plugins/audio/Opus/opus/libtool
plugins/audio/Opus/opus/opus-uninstalled.pc
plugins/audio/Opus/opus/opus.pc
plugins/audio/Opus/opus/config.h
plugins/audio/Opus/opus/opus_compare
plugins/audio/Opus/opus/opus_demo
plugins/audio/Opus/opus/repacketizer_demo
plugins/audio/Opus/opus/doc/Makefile
plugins/audio/Opus/opus/doc/Doxyfile
plugins/audio/Opus/opus/celt/.deps/
plugins/audio/Opus/opus/celt/.dirstamp
plugins/audio/Opus/opus/celt/arm/.deps/
plugins/audio/Opus/opus/celt/arm/armopts.s
plugins/audio/Opus/opus/celt/tests/.dirstamp
plugins/audio/Opus/opus/celt/tests/test_unit_cwrs32
plugins/audio/Opus/opus/celt/tests/test_unit_dft
plugins/audio/Opus/opus/celt/tests/test_unit_entropy
plugins/audio/Opus/opus/celt/tests/test_unit_laplace
plugins/audio/Opus/opus/celt/tests/test_unit_mathops
plugins/audio/Opus/opus/celt/tests/test_unit_mdct
plugins/audio/Opus/opus/celt/tests/test_unit_rotation
plugins/audio/Opus/opus/celt/tests/test_unit_types
plugins/audio/Opus/opus/celt/tests/.deps/
plugins/audio/Opus/opus/silk/.deps/
plugins/audio/Opus/opus/silk/.dirstamp
plugins/audio/Opus/opus/silk/float/.dirstamp
plugins/audio/Opus/opus/silk/fixed/.deps/
plugins/audio/Opus/opus/silk/float/.deps/
plugins/audio/Opus/opus/src/.deps/
plugins/audio/Opus/opus/tests/.deps/
plugins/audio/Opus/opus/src/.dirstamp
plugins/audio/Opus/opus/tests/.dirstamp
plugins/audio/Opus/opus/tests/test_opus_api
plugins/audio/Opus/opus/tests/test_opus_decode
plugins/audio/Opus/opus/tests/test_opus_encode
plugins/audio/Opus/opus/tests/test_opus_padding
plugins/audio/Opus/opus/*/*.o
plugins/audio/Opus/opus/*/*/*.o
plugins/audio/Opus/opus/*/*.lo
plugins/audio/Opus/opus/*/*/*.lo
plugins/audio/G.722.1/libg722_1/tests/regression_tests.sh
plugins/audio/SILK/SILK_SDK/obj_linux_x86_64

