include/opal_config.h
lib_linux_x86_64/
opal.pc
opal.spec
opal_cfg.dxy
opal_config.mak
plugins/audio/Speex/libspeex/speex_config_types.h
plugins/plugin_config.h
samples/callgen/obj_linux_x86_64_d/
src/codec/speex/libspeex/speex_config_types.h

*.so
*.o
obj_linux_x86_64/
obj_linux_x86/
obj_linux_x86_64_d/
obj_linux_x86_d/

obj/

Makefile

config.log
config.status

tags


# Doxygen:
doxygen.out
html/


log

.svn
